body{
    color: aliceblue;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.game-container{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}

.kernel{
    width: 30px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    border-radius: 10px;
}

.ring{
    height: 24px;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ring1{
    background-color: rgb(94, 142, 194);
    width: 240px;
}
.ring2{
    background-color: rgb(107, 129, 189);
    width: 200px;
}
.ring3{
    background-color: rgb(123, 115, 180);
    width: 160px;
}
.ring4{
    background-color: rgb(139, 99, 165);
    width: 120px;
}
.ring5{
    background-color: rgb(152, 82, 144);
    width: 80px;
}

.message {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: green;
    min-height: 40px;
}

@media (max-width: 768px) {
    .game-container {
        gap: 100px;
        margin-top: 40px;
    }
    
    .kernel {
        width: 25px;
        height: 180px;
    }
    
    .ring {
        height: 22px;
    }
    
    .ring1 { width: 130px; }
    .ring2 { width: 115px; }
    .ring3 { width: 100px; }
    .ring4 { width: 85px; }
    .ring5 { width: 70px; }
    
    .message {
        font-size: 22px;
        margin-top: 25px;
    }
}


@media (max-width: 360px) {
    .game-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
    }
    
    .kernel {
        width: 18px;
        height: 150px;
    }
    
    .ring {
        height: 22px;
    }
    
    .ring1 { width: 150px; }
    .ring2 { width: 120px; }
    .ring3 { width: 90px; }
    .ring4 { width: 60px; }
    .ring5 { width: 30px; }
    
    h1 {
        font-size: 22px;
    }
    
    .message {
        font-size: 18px;
        margin-top: 15px;
    }
}